<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Statistique 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contenu de la statistique 1</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Statistique 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contenu de la statistique 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Statistique 3</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contenu de la statistique 3</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Statistique 4</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contenu de la statistique 4</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
